.dashboard-page-001{
    height: 320px
}
.dashboard-page-002{
    position: absolute;
    left: 0px;
    top: 0px; 
    right: 0px; 
    bottom: 0px; 
    overflow: hidden; 
    pointer-events: none; 
    visibility: hidden; 
    z-index: -1;
}
.dashboard-page-003{
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    overflow:hidden;
    pointer-events:none;
    visibility:hidden;
    z-index:-1;

}
.dashboard-page-004{
    position:absolute;
    width:1000000px;
    height:1000000px;
    left:0;top:0;
}
.dashboard-page-005{
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    overflow:hidden;
    pointer-events:none;
    visibility:hidden;
    z-index:-1;
}
.dashboard-page-006{
    position:absolute;
    width:200%;
    height:200%;
    left:0;
    top:0;
}
.dashboard-page-007{
    display: block; 
    width: 312px; 
    height: 208px;
}
.print-logo{
    height: 30px;
    float: left;
    margin-right: 30px;
    padding-top: 5px;
}
.print-bold{
    font-weight: bold;
}
.konfir-info{
    padding-left: 30px;
    >div{
        margin-bottom: 10px;
        >b {
            font-weight: bold;
        }
    }
}
.input-datepicker{
    padding: 5px;
    padding-left: 10px;
    border-radius: 3px;
}
.ant-form-item-required{
    float: left;
}
.message-compose > .ant-form-item-label > label{
    float: left;
}