<div bgcolor="#eeeeee" style="font-family:Arial,Helvetica,sans-serif">
    <table align="center" height="100%" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#eeeeee">
        <tbody>
            <tr>
                <td>
                    <table width="690" align="center" border="0" cellspacing="0" cellpadding="0" bgcolor="#eeeeee">
                        <tbody>
                            <tr>
                                <td colspan="4" height="110" align="center" border="0" cellspacing="0" cellpadding="0" bgcolor="#eeeeee" style="padding:0;margin:0;font-size:1;line-height:0">
                                    <table width="690" align="center" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td width="20"></td>
                                                <td align="left" valign="middle" style="padding:0;margin:0;font-size:1;line-height:0">
                                                    <img src="http://sahabat-tani.website/images/logo-1.png"
                                                        alt="sahabat-tani" class="CToWUd">
                                                </td>
                                                <td width="20"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr bgcolor="#242a33">
                                <td colspan="4" align="center">
                                    <table width="630" align="center" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr></tr>
                                            <tr>
                                                <td width="30"></td>
                                                <td align="center"></td>
                                                <td width="30"></td>
                                            </tr>
                                            <tr></tr>
                                            <tr></tr>
                                            <tr></tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr></tr>
                            <tr bgcolor="#ffffff">
                                <td width="30"></td>
                                <td>
                                    <table width="630" align="center" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td colspan="4" width="630" height="50" style="padding:0;margin:0;font-size:1;line-height:0"></td>
                                            </tr>
                                            <tr>
                                                <td colspan="4" style="padding:0;margin:0;font-size:1;line-height:0">
                                                    <h2 style="color:#404040;font-size:22px;font-weight:bold;line-height:26px;padding:0;margin:0">Hi imbarwinata,</h2>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="4" height="20"></td>
                                            </tr>
                                            <tr>
                                                <td colspan="4">
                                                    <div style="color:#404040;font-size:16px;line-height:20px;padding:0;margin:0">
                                                        <span class="il">Welcome</span> to the world's largest outsourcing site!</div>
                                                    <div style="color:#404040;font-size:16px;line-height:20px;padding:0;margin:0">&nbsp;</div>
                                                    <div style="color:#404040;font-size:16px;line-height:20px;padding:0;margin:0">
                                                        We are so happy to see you joining our marketplace. Over 20.5 million freelancers are ready to complete your work on time
                                                        and on budget! Just post any online project and get it done in 3
                                                        easy steps at a fraction of the cost!</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="4" height="30"></td>
                                            </tr>
                                            <tr>
                                                <td colspan="4"></td>
                                            </tr>
                                            <tr></tr>
                                            <tr>
                                                <td align="left"></td>
                                            </tr>
                                            <tr></tr>
                                            <tr>
                                                <td width="150" align="right"></td>
                                            </tr>
                                            <tr></tr>
                                            <tr>
                                                <td width="30"></td>
                                                <td width="50"></td>
                                            </tr>
                                            <tr></tr>
                                            <tr></tr>
                                            <tr></tr>
                                            <tr>
                                                <td colspan="4"></td>
                                            </tr>
                                            <tr></tr>
                                            <tr>
                                                <td colspan="4">
                                                    <div style="color:#404040;font-size:18px;line-height:20px;padding:0;margin:0">Regards,</div>
                                                    <div style="color:#404040;font-size:18px;line-height:20px;padding:0px 0px 40px 0px;margin:0">The Freelancer Team.</div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td width="30" bgcolor="#ffffff"></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td height="30"></td>
            </tr>
            <tr>
                <td>
                    <table width="690" align="center" border="0" cellspacing="0" cellpadding="0" bgcolor="#eeeeee">
                        <tbody>
                            <tr>
                                <td align="center">
                                    <img src="http://sahabat-tani.website/images/logo-footer.png"
                                        alt="----------------------------------" class="CToWUd">
                                </td>
                            </tr>
                            <tr>
                                <td height="20"></td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <table align="center" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td width="5"></td>
                                                <td>
                                                    <a href="https://www.facebook.com/fansoffreelancer" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://www.facebook.com/fansoffreelancer&amp;source=gmail&amp;ust=1527004190490000&amp;usg=AFQjCNHOSpP1uybREDVYveqrT1xSeeEl5g">
                                                        <img src="https://ci4.googleusercontent.com/proxy/A54GRrneo_f4j1PNZBt_uqyv2ovn5AhFD1cTbxvjvHCDG8ujLrfWqcED1GLAi2jwt4KJPEhzxrRpLyqvhHW6Yk9so7rlH5jX-nVYnec4-0QkIjGy606477NWxoyWVtev5O4HeUB2YakTbjpExVhU3du_=s0-d-e1-ft#https://cdn3.f-cdn.com/img/email-images/social-fb.png?v=5aa6e499ff7dc71c191e2939b4b94ab3&amp;m=6"
                                                            alt="fb" class="CToWUd">
                                                    </a>
                                                </td>
                                                <td width="15"></td>
                                                <td>
                                                    <a href="https://twitter.com/freelancer" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://twitter.com/freelancer&amp;source=gmail&amp;ust=1527004190490000&amp;usg=AFQjCNGIZSTpKPPqZFTqvPULwGxRGyIx2A">
                                                        <img src="https://ci4.googleusercontent.com/proxy/ynqjbTxeHx8uLt7Y3OntRHiTqewA3SSSZbBJpwwwmSYWh8laePSmFDWgVthpNLzi61ortgqgZ11tkAT_uObaXy47NFaRhoJjJ4mqHvJ0mJqJB_a7viDx7vKEsQokf-8WSPuOG7mcg3DYwUhGVNLAEtNPC-s=s0-d-e1-ft#https://cdn2.f-cdn.com/img/email-images/social-twit.png?v=3f51007449eeaabf8588cf3da3fdd956&amp;m=6"
                                                            alt="twit" class="CToWUd">
                                                    </a>
                                                </td>
                                                <td width="15"></td>
                                                <td>
                                                    <a href="https://plus.google.com/u/0/100130810430706051779/posts" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://plus.google.com/u/0/100130810430706051779/posts&amp;source=gmail&amp;ust=1527004190490000&amp;usg=AFQjCNFK6zkualJCxyJ7YqYIC3Co9dv0tg">
                                                        <img src="https://ci5.googleusercontent.com/proxy/4E8j1L2A6wovMQmWrgrmDMkBzgyzpWkM_2OVwxD9NawqoEN_8RCHIafcof7QKY9M77d10ojGd1CVWfE3xOuh91DW0_aFt5QIXh8I1RiLn2Wt-zTHvs2qjOrFoJDCekFV5PIbjejIFm6Hy-vqtNdd0K8=s0-d-e1-ft#https://cdn3.f-cdn.com/img/email-images/social-g.png?v=d86a01d98f40b12d689f4f1bc1b2209a&amp;m=6"
                                                            alt="g" class="CToWUd">
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="7" height="5"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td height="30"></td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <div style="color:#bebebe;font-size:12px;line-height:12px;padding:0;margin:0 0 10px 0">© 2016 Freelancer Technology Pty Limited | All Rights Reserved</div>
                                    <div style="color:#bebebe;font-size:12px;line-height:12px;padding:0;margin:0 0 10px 0">
                                        <a href="https://www.freelancer.com/about/privacy?uniqid=21209387-628-57d7ab55-700a5a5a&amp;linkid=3" style="color:#bebebe;text-decoration:underline"
                                            target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://www.freelancer.com/about/privacy?uniqid%3D21209387-628-57d7ab55-700a5a5a%26linkid%3D3&amp;source=gmail&amp;ust=1527004190490000&amp;usg=AFQjCNHmUR_Sbyh1LL0T50KzxwH8vjvmHw">
                                            Privacy Policy</a> |
                                        <a href="https://www.freelancer.com/about/terms?uniqid=21209387-628-57d7ab55-700a5a5a&amp;linkid=4" style="color:#bebebe;text-decoration:underline"
                                            target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://www.freelancer.com/about/terms?uniqid%3D21209387-628-57d7ab55-700a5a5a%26linkid%3D4&amp;source=gmail&amp;ust=1527004190490000&amp;usg=AFQjCNE_WHKN9fbDbr6bw5uddlQ7_-rYLg">Terms and Conditions</a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td height="20"></td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <div style="color:#bebebe;font-size:12px;line-height:12px;padding:0;margin:0 0 10px 0">If you have any questions, contact us on
                                        <a href="mailto:support@freelancer.com" style="color:#bebebe;text-decoration:underline" target="_blank">support@freelancer.com</a>
                                    </div>
                                    <div style="color:#bebebe;font-size:12px;line-height:12px;padding:0;margin:0 0 10px 0">
                                        <a href="https://www.freelancer.com/campaign/0MEN404220000/?l=https%3A%2F%2Fwww.freelancer.com%2Fusers%2Fnotifications%2Funsubscribe_notifications.php%3Ftoken%3Dc808a2b918002e47a5037b4d517495930338cf31%26userid%3D21209387%26expiration_time%3D1481527893%26type%3Dmarketing%26utm_campaign%3Demployer_signup%26utm_medium%3Demail%26utm_source%3Dpost_project_funnel%26utm_content%3Dunsubscribe&amp;uniqid=21209387-628-57d7ab55-700a5a5a&amp;linkid=5"
                                            style="color:#bebebe;text-decoration:underline" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://www.freelancer.com/campaign/0MEN404220000/?l%3Dhttps%253A%252F%252Fwww.freelancer.com%252Fusers%252Fnotifications%252Funsubscribe_notifications.php%253Ftoken%253Dc808a2b918002e47a5037b4d517495930338cf31%2526userid%253D21209387%2526expiration_time%253D1481527893%2526type%253Dmarketing%2526utm_campaign%253Demployer_signup%2526utm_medium%253Demail%2526utm_source%253Dpost_project_funnel%2526utm_content%253Dunsubscribe%26uniqid%3D21209387-628-57d7ab55-700a5a5a%26linkid%3D5&amp;source=gmail&amp;ust=1527004190491000&amp;usg=AFQjCNEpIKuQTGo11oC8EOugRL-SfFnzWw">
                                            Unsubscribe </a>from our mailing list</div>
                                </td>
                            </tr>
                            <tr>
                                <td height="20"></td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://ci4.googleusercontent.com/proxy/jJE2UjbDsL7kBfBWELW5IzsMtPmTpjW20IllVWXykQo_YwDzLNZWPRcbQB5NnVN_JY7SlHrYpKaAfj04ibOdXwSU4dvBLVkQh_TH7Oc27Duo0m9abl9yK92EKbiEn8HCv3TtJhIEBssTNfiGr1RW7wNhxAALOAslqmusI6qKZmMYo2UdYlw6VMMYCKyj7oqewmpqlgpUZmyZfEKqY7mnl6JQadnlXjKGr10GnMa1xbS0=s0-d-e1-ft#https://t.freelancer.com/1px.gif?user_id=&amp;en=email_open&amp;program=MEQ&amp;program_id=1001X&amp;method=img&amp;acct=.Freelancer.com&amp;uniqid=21209387-628-57d7ab55-700a5a5a"
                                        style="border:1px solid #d9d9d9" alt="" class="CToWUd">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>