.react-bs-table-tool-bar {
    margin-bottom: 17px !important;
}

.rdw-editor-main {
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.link-button:hover {
    cursor: pointer;
}

.vl-right {
    color: $c-purple;
    border: none;
    background: none;
    border-right: 1px solid $c-purple;
    height: 1.5em;
    &:hover {
        cursor: pointer;
    }
}

.vl-left {
    color: $c-purple;
    border: 0px 1px 0px 0px;
    background: none;
    border-left: 1px solid $c-purple;
    height: 1.5em;
    &:hover {
        cursor: pointer;
    }
}

.button-to-link {
    color: $c-purple;
    border: none;
    background: none;
    &:hover {
        cursor: pointer;
    }
}

.input-feedback {
    padding-top: 5px;
    font-size: 14px;
    font-weight: 300;
    font-family: Poppins;
    color: $c-errors;
}

.form-control-feedback-error {
    border: 1px solid #f4516c !important;
    padding-top: 5px;
}

.is-active{
    color: $c-active !important;
}